@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right bottom, #111d5e, #b21f66);
    margin: 0;
    font-family: 'Varela Round', sans-serif; 
    background-attachment: fixed;
}

.btn {
    margin: 2% 2%;
    border-radius: 50px;
}

.pagenav {
    border-radius: 25px;
    text-align: center;
    position: fixed;
}

.pagenav p{
    text-align: center;
    padding: 0;
    margin: 0;
}

.name-pict table {
    background-image: linear-gradient(to right, #b21f66, #ffbd69);
    border-radius: 25px;           
}

.name-pict table, .name-pict td{
    margin-top: 4%;
    padding: 0;
}


.name-pict img {
    text-align: center;
    height: 20%;  
    border-radius: 25px;   
    padding: 2%;
    margin: 1%; 
    border: 3px im;
}

.name{
    transform: rotate(90deg);
    transform-origin: bottom left;
    font-size: 200%;   
    color: blanchedalmond;
    position: absolute;        
}

.name-pict .empty-cell {
    height: 10px;
}

.profile{
    margin-top: 2%;
    font-size: 200%;
}

.profile h3{
    text-align: center;
    color: blanchedalmond;
    padding: 0;
    margin: 0;
}

.profile h5{
    text-align: center;
    color: blanchedalmond;
    margin: 2%;
}

.square {
    background-color: blanchedalmond;
    height: 1.5px;
    margin: 500px;
    margin-top: 0;
    margin-bottom: 2%;
}

.description {
    text-align: center;
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%;
    color: blanchedalmond;
    padding: 1%;
    
    background-image: linear-gradient(to top right, #111d5e, #b21f66);
    border-radius: 25px;
}

.description h5, .description h4 {
    margin: 0;
}

.pend1, .pend2 {
    text-align: center;
    color: blanchedalmond;

}

.pend1 {
    width: 400px;
    background-image: linear-gradient(to bottom left, rgb(203, 0, 88), #111d5e 120%);            
    border-radius: 25px 25px 0 0;
    padding: 0.5%;
    margin: 0;
    font-size: 200%;
}

.pend2{
    width: 400px;
    background-image: linear-gradient(to bottom left, #b21f66, #111d5e);
    border-radius: 0 0 25px 25px;
    padding: 0.5%;
    margin: 0;
    font-size: 150%;
}

.riwayat-pendidikan .pend2 h4 {
    margin-bottom: 0;
}

.riwayat-pendidikan .pend2 h5 {
    margin-top: 4%;
}

.riwayat-pendidikan .empty-cell{
    width: 50px;i
    padding: 0;
    margin: 0;
}

.quote1 {
    color: blanchedalmond;
    text-align: center;
}

.social-media{
    margin: 0;
    background-color:black;
    margin: 2% 20% 0% 20%;
    border-radius: 55px 55px 0 0;
    position:;
}

.social-media td{
    text-align: center;
}

.social-media img{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.skills{ 
    color: antiquewhite;
    text-align: center;
    font-size: 175%;
}

.skills table {
    margin: 0 4% 0 4% ;
}

.skills .empty-cell{
    padding: 10px;
}

.skills * img{
    max-width: 50%;
}

.skills .skill1 , .skills .skill2, .skills .skill3{
    background-image:linear-gradient(to top right, #b21f66, #111d5e);
    border-radius: 25px 25px 50px 50px;
    padding: 2%;
}

.skills .skill1-name , .skills .skill2-name, .skills .skill3-name{
    background-image:linear-gradient(to top right, #b21f66, #111d5e);
    border-radius: 50px 50px 50px 50px;
    padding: 0;
}